div(class="container" ng-controller="GeneralCtrl")
  h1 General Ranking
  p Enter players' name to process the games
  div(class="table-responsive col-xs-6")
    table(class="table")
      thead
        tr
          th Rank
          th Name
          th Games Won
          th Points Scored
          th Games Lost
          th Points Lost
          th Level
      tbody
        tr(ng-repeat="rank in data.ranking")
          th {{$index+1}}
          td {{rank.name}}
          td {{rank.gamesWon}}
          td {{rank.pointsScored}}
          td {{rank.gamesLost}}
          td {{rank.pointsLost}}
          td {{rank.level}}
  div(class="table-responsive col-xs-6")
    table(class="table")
      thead
        tr
          th Label
          th 6pts
          th 11pts
          th 21pts
          th Total
      tbody
        tr
          th Games Played
          td {{data.infos["6GP"]}}
          td {{data.infos["11GP"]}}
          td {{data.infos["21GP"]}}
          td {{data.infos["0GP"]}}
        tr
          th Points Scored
          td {{data.infos["6PS"]}}
          td {{data.infos["11PS"]}}
          td {{data.infos["21PS"]}}
          td {{data.infos["0PS"]}}

