div(class="container" ng-controller="PlayerCtrl")
  h1 Player details
  p Choose a player to show his informations
   div(class="row")
      div(class="form-group col-xs-6")
        label(class="col-sm-6 control-label" for="player1Name") Player 1
        select(ng-init="playerInput.player1 = data.players[0]" ng-options="player.name for player in data.players" id="player1Name" class="form-control" ng-model="playerInput.player1")
          option(value="") Select Player
      div(class="form-group col-xs-6")
        label(class="col-sm-6 control-label" for="player2Name") Player 2
        select(ng-init="playerInput.player1 = data.players[0]" class="form-control" id="player2Name" ng-model="playerInput.player2" ng-options="player.name for player in data.players")
          option(value="") Select Player
  div(class="table-responsive col-xs-6")
    table(class="table")
      thead
        tr
          th Number
          th Player 1
          th Player 1 Score
          th Player 2 Score
          th Player 2
          th Date
      tbody
        tr(ng-repeat="game in data.games")
          th(ng-if="game.number") {{game.number}}
          th(ng-if="!game.number") {{$index}}
          td {{game.player1}}
          td {{game.sPlayer1}}
          td {{game.sPlayer2}}
          td {{game.player2}}
          td {{game.date}}
  div(class="table-responsive col-xs-6")
    table(class="table")
      thead
        tr
          th Label
          th 6pts
          th 11pts
          th 21pts
          th Total
      tbody
        tr
          th Games Played
          td {{data.infos.6GP}}
          td {{data.infos.11GP}}
          td {{data.infos.21GP}}
          td {{data.infos.0GP}}
        tr
          th Games Won
          td {{data.infos.6GW}}
          td {{data.infos.11GW}}
          td {{data.infos.21GW}}
          td {{data.infos.0GW}}
        tr
          th Games Lost
          td {{data.infos.6GL}}
          td {{data.infos.11GL}}
          td {{data.infos.21GL}}
          td {{data.infos.0GL}}
        tr
          th Points Scored
          td {{data.infos.6PS}}
          td {{data.infos.11PS}}
          td {{data.infos.21PS}}
          td {{data.infos.0PS}}
        tr
          th Points Lost
          td {{data.infos.6PL}}
          td {{data.infos.11PL}}
          td {{data.infos.21PL}}
          td {{data.infos.0PL}}