doctype html
html(ng-app="PiPong")
	head
		meta(charset='utf8')
		base(href='/')
		title PiPong
		link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='css/starter-template.css')
	body
		block body